* {
  box-sizing: border-box;
}

body {
  font-family: "Euclid Circular A";
  background: #fafafa;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
button,
select,
option {
  font-family: inherit;
  user-select: none;
}

button {
  background: transparent;
  border: 0;
}

a,
button,
label {
  cursor: pointer;
}
